# Build artifacts
/build/
/out/
/bin/
/obj/
/Debug/
/Release/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# OS
.DS_Store
Thumbs.db
/src/systems/AnimationSystem.h
/src/systems/CameraMovementSystem.h
/src/systems/CollisionSystem.h
/src/systems/KeyboardControlSystem.h
/src/systems/MovementSystem.h
/src/systems/RenderColliderSystem.h
/src/systems/RenderGUISystem.h
/src/systems/RenderSystem.h
/src/systems/RenderTextSystem.h
/src/systems/ScriptSystem.h
